/* getting a 8-bit google font into our site */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

/*So our padding and or margin doesnt get effed */
* {
    box-sizing: border-box;
}

/*So our padding and or margin doesnt get effed */
* {
    box-sizing: border-box;
}

a {
    /* gets color from the from the assigned color value*/
     color: inherit;  
}

h1 a {
    text-decoration: none;
}

nav {
    font-family: Silkscreen;
    background-color: #141526;
    height: 50px;
    color: white;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
}

nav ul {
    list-style: none;  /* removes bullet points*/
    text-align: right; 
    margin-top: -50px;   
}

nav li {
    display: inline;
    padding: 1em;
    font-size: 1.3em;
} 

body {
    /* makes it so youre only alble to scroll vertically */
    overflow-x: hidden;
    overflow-y:auto; 
    background-color: #071b38;
}

#game {
    position: relative;
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    margin-top: 70px;
    margin-left: 0px; 
}

/* black background for our jp bars */
#plbackbar{
    background-color: black;
    height: 20px;
    width: 100%;
}

#plbar {
    background-color: blue;
    font-family: Silkscreen;
    height: 20px; 
    width: 100%;
    text-align: start;
    color:white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

 #timer {
    background-color: white;
    font-family: Silkscreen;
    width: 75px;
    height: 75px;
    /* makes it so that other elements dimensions dont cause this one to shrink */
    flex-shrink: 0;
    display: flex;
    align-items: center;    /*aligns on y axis*/
    justify-content: center; /*aligns on x axis*/
} 

/* black background for our jp bars */
#aibackbar{
    background-color: black;
    height: 20px;
}

#aibar {
background-color: red;
font-family: Silkscreen;
height: 20px;
width: 100%;
text-align: end;
color:white;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}